BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
ColumnLimit: 80
AlignTrailingComments: true
AlignOperands: true
AlignConsecutiveDeclarations: Consecutive
AlignAfterOpenBracket: true
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
